<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hizmet Şartları</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
    }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body class="bg-slate-800 text-gray-200 font-sans">
  <div class="container mx-auto px-4 py-10">
    <div class="mb-8">
    <a href="/"><img src="https://raw.githubusercontent.com/devyigit/Web-Terminal/refs/heads/main/synapic.png" alt="Synapic Logo" class="w-40 h-40 rounded-full mx-auto shadow-lg"></a>
    </div>
    <h1 class="text-4xl font-bold mb-8 text-center">Hizmet Şartları</h1>
    <p class="text-lg leading-relaxed mb-6">
      Bu hizmet şartları, tarayıcımızı kullanırken uymanız gereken kuralları ve haklarınızı açıklamaktadır. Tarayıcımızı kullanarak bu şartları kabul etmiş sayılırsınız.
    </p>

    <h2 class="text-2xl font-semibold mb-4">1. Kullanım Koşulları</h2>
    <p class="mb-6">
      Tarayıcımız yalnızca yasal amaçlarla kullanılabilir. Hiçbir şekilde yasa dışı, zararlı veya saldırgan faaliyetler için kullanılamaz.
    </p>

    <h2 class="text-2xl font-semibold mb-4">2. Sorumluluk Reddi</h2>
    <p class="mb-6">
      Tarayıcımız, veri toplamadan çalışır ve anonim bir deneyim sunar. Ancak, kullanıcıların internet üzerindeki davranışlarından sorumlu tutulamayız.
    </p>

    <h2 class="text-2xl font-semibold mb-4">3. Güncellemeler ve Değişiklikler</h2>
    <p class="mb-6">
      Bu hizmet şartları zaman zaman değiştirilebilir. Güncellemeler tarayıcıda veya resmi web sitemizde duyurulacaktır. Değişikliklerden sonra tarayıcıyı kullanmaya devam etmeniz, yeni şartları kabul ettiğiniz anlamına gelir.
    </p>

    <h2 class="text-2xl font-semibold mb-4">4. Kısıtlamalar</h2>
    <p class="mb-6">
      Kullanıcılar, tarayıcıyı kötüye kullanmamalı ve aşağıdaki davranışlardan kaçınmalıdır:
      <ul class="list-disc list-inside mt-2">
        <li>Herhangi bir güvenlik açığını kötüye kullanma</li>
        <li>Yetkisiz erişim girişiminde bulunma</li>
        <li>Reklam engelleme sistemini devre dışı bırakma</li>
        <li>DDoS gibi saldırılar yaparak sisteme zarar vermek</li>
      </ul>
    </p>

    <h2 class="text-2xl font-semibold mb-4">5. İletişim</h2>
    <p class="mb-6">
      Hizmet şartlarımız hakkında sorularınız için bizimle iletişime geçebilirsiniz:
      <br>
      E-posta: <a href="mailto: yigitkabak05@hotmail.com" class="text-blue-400 underline">yigitkabak05@hotmail.com</a>
    </p>

    <footer class="mt-10 text-center text-gray-500 text-sm">
      © 2024 Synapic Tarayıcısı. Tüm Hakları Saklıdır.
    </footer>
  </div>
</body>

</html>