<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-800 text-white">
    <!-- Üst kısım -->
    <div class="text-center py-8">
      <div class="mb-8">
    <a href="/"><img src="https://raw.githubusercontent.com/devyigit/Synapic/refs/heads/main/images/green.png" alt="Synapic Logo" class="w-40 h-40 rounded-full mx-auto shadow-lg"></a>
      </div>
      <h1 class="text-4xl font-bold">Synapic Theme Shop</h1>
    </div>

    <!-- Kartlar -->
    <div class="flex flex-wrap justify-center gap-6 px-4">
      <!-- Kart 1 -->
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-gray-800">
        <img class="w-full" src="https://raw.githubusercontent.com/devyigit/Synapic/refs/heads/main/images/green.png" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Yeşil Tema</div>
          <p class="text-gray-700 text-base">
            Estetik Yeşil Temanın Keyfini Çıkarın.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          
        </div>
        <div class="px-6 py-4">
          <a href="/"><button class="w-full bg-green-500 text-white py-2 rounded hover:bg-green-600 transition">Temayı Kullan</button></a>
        </div>
      </div>

      <!-- Kart 2 -->
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-gray-800">
        <img class="w-full" src="https://raw.githubusercontent.com/devyigit/Synapic/refs/heads/main/images/blue.png" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Mavi Tema</div>
          <p class="text-gray-700 text-base">
            Estetik Mavi Temanın Keyfini Çıkarın.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
        </div>
        <div class="px-6 py-4">
          <a href="/?theme=blue"><button class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition">Temayı Kullan</button></a>
        </div>
      </div>

      <!-- Kart 3 -->
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-gray-800">
        <img class="w-full" src="https://raw.githubusercontent.com/devyigit/Synapic/refs/heads/main/images/red.png" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Kırmızı Tema</div>
          <p class="text-gray-700 text-base">
            Estetik Kırmızı Temanın Keyfini Çıkarın.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
        </div>
        <div class="px-6 py-4">
          <a href="/?theme=red"><button class="w-full bg-red-500 text-white py-2 rounded hover:bg-red-600 transition">Temayı Kullan</button></a>
        </div>
      </div>
    </div>
  </body>
</html>